
.app {
    display: grid;
    place-items: center;
    background-color: rgb(239, 239, 241);
    height: 100vh;

}

.app__body{
    display: flex;
    background-color: rgb(231, 231, 229);
    margin-top: 25px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgb(0, 0, 0, 0.5);
}