
.sidebarChat{
    flex: 1;
    background-color: white; 
    overflow:auto;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarChat >h4{
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
}
.sidebarChat:hover{
    background-color: #ebebeb;
}
.sidebarChat__info > h5{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}
.sidebarChat__info > p{
    margin: 0px;
    padding: 0px;
}
.sidebarChat__info{
    margin-left: 15px;
}
.chat__body{
    flex: 1;
    background-image: url("/src/components/imgB/whatsupImg.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow:auto;
}
