.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}
.sibebar__header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid lightgray ;
}
.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 55px;
    width: 250px;
    padding: 7px;
}
.search__contaienr{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 40px;
    border-radius: 20px;
}
.search__contaienr > input{
    border: none;
    margin-left: 10px; ;
}
.search__contaienr > .MuiSvgIcon-root{
    color: gray;
    margin-left: 10px;
}

